.contacts {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.contact {
    width: 304px;
    height: 304px;
    background-color: #F7F7F7;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
    color: #000;
    margin: 0 16px;
}

.contact:hover {
    background-color: #e6e6e6;
}

@media screen and (max-width: 768px) {
    .contacts{
        font-size: 16px;
    }
    .contact {
        width: 208px;
        height: 208px;
    }
}