.intro__photo {
    width: 35%;
    display: block;
}

.intro {
    display: flex;
    align-items: center;
}

.intro__info {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__title {
    font-size: 40px;
    line-height: 61px;
    margin-bottom: 16px;
}

.info__subtitle {
    font-size: 18px;
    line-height: 23px;
    color: #848484;
    margin-bottom: 16px;
}

.info__separator{
    width: 100px;
    height: 2px;
    background: #645826;
    margin-bottom: 16px;
}

.info__text {
    font-size: 18px;
    line-height: 1.5;
    color: #4D4D4D;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .info__title {
        font-size: 32px;
        line-height: 40px;
    }
    .info__subtitle {
        font-size: 14px;
        line-height: 18px;
    }
    .info__text {
        font-size: 14px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 620px) {
    .intro {
        flex-flow: column;
        align-items: center;
    }
    .intro__photo {
        width: 70%;
        margin-bottom: 16px;
    }
    .intro__info {
        margin-left: 0;
    }
    .info__title {
        font-size: 24px;
        line-height: 24px;
    }
    .info__subtitle {
        font-size: 14px;
        line-height: 18px;
    }
    .info__text {
        font-size: 14px;
        line-height: 1.5;
    }
}